body{
    font-family: Arial, sans-serif;
    background-color: black;
    color:aliceblue;   
}

form{
    text-align: center;
    max-width: 350px;
    margin: auto;
    background-color: rgb(21, 21, 21);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(183, 179, 179, 0.5);
}

#textbox{
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(21, 21, 21);
    font-size:2em;
    border: 2px solid rgb(21, 21, 21);
    margin-bottom:15px;
    background-color: hsl(0, 2%, 60%);
}
select{
    font-size:1.5em;
    font-weight: bold;
    background-color: hsl(0, 2%, 60%);
}
button{
    font-size:1.5em;
    font-weight: bold;
    background-color: rgb(21, 21, 21);
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
    color: rgb(21, 21, 21);
}
#result{
    font-size: 2em;
    font-weight: bold;
    margin-top: 15px;
}